root = true

[*]
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.{xaml,xml,targets,props,csproj}]
indent_style = tab
tab_width = 4
indent_size = 4

[*.{cs,tt,java}]
indent_style = tab

[*.{ts,json}]
indent_style = tab

[*.js]
indent_style = space

[*.css]
indent_style = space
tab_width = 2
indent_size = 2

[*.{yml,yaml}]
indent_style = space

[*.md]
indent_style = space

# Workaround https://github.com/unoplatform/uno/issues/6883
[**/Generated/**/*.cs]
generated_code = true