trigger:
  branches:
    include:
      - master
      - beta
      - release/beta/*
      - stable
      - release/stable/*
      - legacy/*

  paths:
    include:
    - '/'
    exclude:
    - .dependabot/
    - .github/
    # don't trigger the CI if only docs files are changed
    - doc/*
    - '**/*.md'

pr:
  branches:
    include:
      - master
      - beta
      - release/beta/*
      - stable
      - release/stable/*
      - legacy/*

  paths:
    include:
    - '/'
    exclude:
    - .dependabot/
    - .github/
    # don't trigger the CI if only docs files are changed
    - doc/*
    - '**/*.md'

variables:
  IsLightBuild: $[eq(variables['Build.Reason'], 'PullRequest')]
  IsCanaryBranch: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/canaries/')]

  XCODE_ROOT: '/Applications/Xcode_15.4.app'
  
jobs:
- job: Windows_Android_Mobile
  strategy:
    maxParallel: 3
    matrix:
      Android_Store:
        ApplicationPlatform: AnyCPU
        ArtifactName: Android
        BuildForPlayStore: True
        VersionCodeOffset: 1

  pool:
    vmImage: windows-2022

  variables:
  - group: 'UADO Keystore' # Import all variables for the signing from the library in azure devops

  steps:
  - template: build/stage-build-android-mobile.yml

- job: Windows_WinAppSDK
  pool:
    vmImage: windows-2022

  variables:
  - group: 'UADO Keystore' # Import all variables for the Android signing from the library in azure devops
  - group: 'Uno Platform authenticode signing' # Import all variables for the signing from the library in azure devops
  - name: ApplicationPlatform
    value: x86 # switch back to x64 once CommunityToolkit.WinUI.UI supports x64 (https://github.com/CommunityToolkit/Lottie-Windows/issues/515#issuecomment-1662305826)
  - name: BuildTargetFramework
    value: net8.0-windows10.0.19041
  - name: ArtifactName
    value: Windows
  - name: VersionCodeOffset
    value: 50
  - name: PackageOutputPath
    value: $(Build.ArtifactStagingDirectory)

  steps:
  - template: build/stage-build-windows.yml

- job: Windows_SkiaGtk
  pool:
    vmImage: windows-2022

  variables:
  - group: 'UADO Keystore' # Import all variables for the signing from the library in azure devops

  steps:
  - template: build/stage-build-skia-gtk.yml

- job: macOS_netcore
  strategy:
    maxParallel: 2
    matrix:
      iOS:
        BuildTargetFramework: net8.0-ios
        ArtifactName: iOS-mobile
        ApplicationBuildNumberOffset: 50
        BuildCommand: publish
      Catalyst:
        BuildTargetFramework: net8.0-maccatalyst
        ArtifactName: Catalyst
        ApplicationBuildNumberOffset: 50
        BuildCommand: build
  pool:
    vmImage: macos-14

  variables:
  - name: SkipUnknownFrameworks
    value: true # Used by TargetFrameworks.Filtering package
  - group: unoplatform.apple.ios.appstore.distribution

  steps:
  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: UnoPlatform-Apple-Distribution.p12
      certPwd: $(appleappstorecertificatepassword)
      keychain: temp
      # disabled because of azure devops failing to uninstall as of 2022-11-16
      # deleteCert: true

  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: UnoPlatform-MacInstaller.p12
      certPwd: $(appleappstorecertificatepassword)
      keychain: temp
      # disabled because of azure devops failing to uninstall as of 2022-11-16
      # deleteCert: true

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_Catalyst.provisionprofile

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_Canary_Catalyst.provisionprofile

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_iOS.mobileprovision

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_Canary_iOS.mobileprovision

  - template: build/templates/xcode-select.yml
    parameters:
      xCodeRoot: $(XCODE_ROOT)

  - template: build/stage-build-mobile.yml

- job: Linux
  timeoutInMinutes: 40
  pool:
    vmImage: ubuntu-latest

  container: unoplatform/wasm-build:3.0

  variables:
    ArtifactName: WASM
    SkipUnknownFrameworks: true

  steps:
    - template: build/stage-build-wasm.yml

- template: build/stage-uitests-wasm.yml
- template: build/stage-uitests-ios.yml
- template: build/stage-uitests-android.yml
