variables:
  IsLightBuild: $[eq(variables['Build.Reason'], 'PullRequest')]
  IsCanaryBranch: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/canaries/')]
  ANDROID_NDK_HOME: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  ANDROID_NDK_PATH: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  AndroidNdkDirectory: C:\Microsoft\AndroidNDK64\android-ndk-r16b
  
jobs:
- job: Windows
  strategy:
    maxParallel: 3
    matrix:
      Android_Store:
        Project: Uno.Gallery/Uno.Gallery.Droid/Uno.Gallery.Droid.csproj
        ApplicationPlatform: AnyCPU
        ArtifactName: Android
        BuildForPlayStore: True
        ApplicationBuildNumberOffset: 400050
      Android_AppCenter:
        Project: Uno.Gallery/Uno.Gallery.Droid/Uno.Gallery.Droid.csproj
        ApplicationPlatform: AnyCPU
        ArtifactName: Android
        BuildForPlayStore: False
        ApplicationBuildNumberOffset: 400050
      SkiaGTK:
        Project: Uno.Gallery/Uno.Gallery.Skia.Gtk/Uno.Gallery.Skia.Gtk.csproj
        ApplicationPlatform: AnyCPU
        ArtifactName: SkiaGTK
      UWP:
        Project: Uno.Gallery/Uno.Gallery.UWP/Uno.Gallery.UWP.csproj
        ApplicationPlatform: x64
        ArtifactName: UWP
        ApplicationBuildNumberOffset: 50
  pool:
    vmImage: windows-2019
    
  variables:
  - group: 'UADO Keystore' # Import all variables for the signing from the library in azure devops

  steps:
    - template: build/stage-build.yml

- job: macOS
  strategy:
    maxParallel: 2
    matrix:
      iOS:
        Project: Uno.Gallery/Uno.Gallery.iOS/Uno.Gallery.iOS.csproj
        ApplicationPlatform: iPhone
        ArtifactName: iOS
        ApplicationBuildNumberOffset: 50
      macOS:
        Project: Uno.Gallery/Uno.Gallery.macOS/Uno.Gallery.macOS.csproj
        ApplicationPlatform: iPhoneSimulator
        ArtifactName: macOS
        ApplicationBuildNumberOffset: 50
  pool:
    vmImage: macOS-10.15
    
  variables:
  - name: SkipUnknownFrameworks
    value: true # Used by TargetFrameworks.Filtering package
  - group: apple.appstore.distribution # Variables for certificate

  steps:
  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: apple.appstore.distribution.p12
      certPwd: $(appleappstorecertificatepassword)
      keychain: temp
      deleteCert: true

  - task: InstallAppleProvisioningProfile@1
    displayName: Install Provisioning Profile
    inputs:
      provisioningProfileLocation: secureFiles
      provProfileSecureFile: UnoGallery.mobileprovision

  - template: build/stage-build.yml

- job: macOS_net6
  strategy:
    maxParallel: 2
    matrix:
      iOS:
        BuildTargetFramework: net6.0-ios
        ArtifactName: iOS-mobile
        ApplicationBuildNumberOffset: 50
      Catalyst:
        BuildTargetFramework: net6.0-maccatalyst
        ArtifactName: Catalyst
        ApplicationBuildNumberOffset: 50
  pool:
    vmImage: macOS-11
    
  variables:
  - name: SkipUnknownFrameworks
    value: true # Used by TargetFrameworks.Filtering package
  - group: unoplatform.apple.ios.appstore.distribution

  steps:
  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: UnoPlatform-Apple-Distribution.p12
      certPwd: $(appleappstorecertificatepassword)
      keychain: temp
      deleteCert: true

  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: UnoPlatform-MacInstaller.p12
      certPwd: $(appleappstorecertificatepassword)
      keychain: temp
      deleteCert: true

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_Canary_Catalyst.provisionprofile

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install Apple Provisioning Profile'
    inputs:
      provisioningProfileLocation: 'secureFiles'
      provProfileSecureFile: Uno_Gallery_Canary_iOS.mobileprovision

  - template: build/stage-build-mobile.yml

- job: Linux
  timeoutInMinutes: 90
  pool:
    vmImage: ubuntu-18.04
  
  container: unoplatform/wasm-build:3.0

  variables:
    ArtifactName: WASM
    SkipUnknownFrameworks: true

  steps:
    - template: build/stage-build-wasm.yml

- template: build/stage-uitests-wasm.yml
- template: build/stage-uitests-ios.yml
- template: build/stage-uitests-android.yml
